@charset "UTF-8";

/*--------------------------------------------------------
アドセンス設定
-------------------------------------------------------*/

.ads-top {
	text-align: center;
	margin: 10px 0 0 0;
}

.ads-left {
	text-align: center;
	margin: 10px 0 10px 0;	
}

.ads-bottom {
	font-size: 10px;
	text-align: center;
	margin: -40px 0 20px 0;
}
