@charset "UTF-8";

/*--------------------------------------------------------
カスタマイズ用CSS
-------------------------------------------------------*/

#menu li {
	font-size: 16px;
}

dl.info {
	width: 90%;
	height: 90px;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	background: #FAFAFA;
	border: 1px dotted #cfcfcf;
	margin-top: 0.5em;
	margin-bottom: 20px;
	font-size: 15px;
}

dl.info dt {
	font-weight: bold;
}

dl.info dd {
	border-bottom: 1px dotted #cfcfcf;
}

a:hover img.hoverImg{
	opacity:0.5;
	filter:alpha(opacity=50);
	-ms-filter: “alpha( opacity=50 )”;
}

ol.choice-katakana {
	list-style-type: katakana;
}

ol.choice-katakana li {
	margin: 0 0 0 5px;
}

ol.choice-decimal {
	list-style-type: decimal;
}

ol.choice-decimal li {
	margin: 0 0 0 5px;
}

.ninja-recommend-block {
	margin: 0 0 30px 0;
}


/*------------------------------------------------------------
アイキャッチの仕様
-------------------------------------------------------------*/

.eyecatch {
	position: relative;
}

.eyecatch span {
	background-color: #ffffff;
	bottom: 0;
	color: #000000;
	font-size: 15px;
	font-weight: normal;
	opacity: 0.55;
	padding: 6px;
	position: absolute;
	text-align: center;
	width:570px;
}


/*------------------------------------------------------------
個別記事のページナビ
-------------------------------------------------------------*/

.navigation {
  text-align: center;
  padding: 1em 0;
  width: 100%;
  margin: -15px 0 -30px 0;
}
.navitop {
  float:left;
  width:18%;
  text-align:center;
}
.navileft {
  float:left;
  width:41%;
  text-align:left;
  word-break:break-all;
  line-height:1.5em;
}
.naviright {
  float:right;
  width:41%;
  text-align:right;
  word-break:break-all;
  line-height:1.5em;
}


/*--------------------------------------------------------
検索窓
-------------------------------------------------------*/

.search {
	width: 86%;
	margin: 14px 0 0 0;
}
